

@model List<C__MVC_Assessment.Models.Employee>

@{
    ViewBag.Title = "View Employees";
}

@Html.Partial("_Message")


<div class="pull-right">
    <h2>@ViewBag.Title</h2>
    <a href="@Url.Action("Add")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Employee
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName @employee.LastName</td>
                <td>@(employee.Company is null ? "" : employee.Company.Name)</td>
                <td>@(employee.Email is null ? "" : employee.Email)</td>
                <td>@(employee.PhoneNumber is null ? "" : employee.PhoneNumber)</td>
                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("Detail", new { id = employee.Id })" class="btn btn-primary btn-xs margin-right">
                            <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>