

@model List<C__MVC_Assessment.Models.Company>

@{
    ViewBag.Title = "View Companies";
}

@Html.Partial("_Message")


<div class="d-flex justify-content-between align-items-center">
    <h2>@ViewBag.Title</h2>
    <a href="@Url.Action("Add")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add company
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th><!-- logo --></th>
            <th>Company</th>
            <th>Email</th>
            <th>Website</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>
                    @if (company.LogoFilepath != null && company.LogoFilepath != "")
                    {
                        <img src="@Html.DisplayFor(_ => company.LogoFilepath)" alt="Logo for @company.Name" style="height: 32px; object-fit: contain;" />
                    }
                </td>
                <td>@company.Name</td>
                <td>@(company.Email is null ? "" : company.Email)</td>
                <td>
                    @if (!(company.WebsiteUrl is null))
                    {
                        <a href="@company.WebsiteUrl" target="_blank">@company.WebsiteUrl.Replace("https://", "")</a>
                    }
                </td>
                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("Detail", new { id = company.Id })" class="btn btn-primary btn-xs margin-right">
                            <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>